* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@font-face {
  font-family: 'Airment';
  src: url(/etc/fonts/airment/airment-Regular.ttf);
}

html {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  margin: 0 0 0 0;
  background-color: #20262e;
}

header {
  margin: 0 auto 0 auto;
  width: 100%;
  height: 100%;
  position: fixed;
}

.parallax-window {
  margin: 0 0 0 0;
  min-height: 700px;
  width: 100%;
  height: 100%;
  z-index: -102;
  text-align: center;
}

header img {
  position: relative;
  margin: 25vh 0 0 0;
  width: 400px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 16px;
  background: black;
  color: #f1f1f1;
  z-index: 102;
  text-align: center;
}

.nav_boton {
  display: inline;
  color: #ddd;
  text-decoration: none;
  padding: 1em;
  font-weight: 400;
}

.nav_boton:hover {
  background-color: #aaa;
  border-radius: 3px;
}

.nav_boton.active {
  color: red;
  background-color: rgba(0, 0, 0, 0.1);
}
.seccion{
  text-align: center;
}
section {
  height: 100%;
  margin: 0 0 0 0;
}

.contenido {
  background: #ededed;
  position: relative;
  z-index: 1;
}
i{
  font-size: 10vh;
  padding-bottom: 5%;
}
.apartado1 {
  text-align: center;
  display: grid;
  grid-template-areas:  "item1 item2 item3"
  "item4 item5 item6"
  "item7 item8 item9";
  grid-template-columns: 15% auto 15%;
  grid-template-rows: auto;
  height: 500px;
  width: 100%;
  padding: 5% 0 0 0;;
  background: linear-gradient(45deg, #fff5c6 10%, #3182d3 90%);
  color: black;
}
.b {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 3%;
  grid-area: item5;
  padding: 0;
}
.b h1{

  font-size: 4vw;
}
.b h2{
  font-size: 4vw;
}

.apartado1 h1 {
  text-align: center;
  margin: 0;
}
.apartado2 {
  text-align: center;
  display: grid;
  grid-template-areas:  "pad1 sp1 item4 sp2 item5 sp3 item6 sp4 pad2";
  grid-template-columns: 10% 5% 20% 5% 20% 5% 20% 5% 10%;
  grid-template-rows: auto;
  height: 100%;
  padding: 10% 0 5% 0;;
  background: linear-gradient(45deg, #94f8ff 10%, #c1ffd3 90%);
  color: black;
}
@media (max-width: 1024px){
  .apartado2 {
    grid-template-areas: "pad1" "sp1" "item4" "sp2" "item5" "sp3" "item6" "sp4" "pad2";
    grid-template-columns: auto;
    grid-template-rows: 10% 5% auto 5% auto 5% auto 5% 10%;
  }
  .d, .e, .f{
    margin: 0 20% 5%;
  }
}
.d{
  padding: 5%;
  background: white;
  font-size: 2vh;
  grid-area: item4;
}
.e{
  padding: 5%;
  background: white;
  font-size: 2vh;
  grid-area: item5;
}
.f{
  padding: 5%;
  background: white;
  font-size: 2vh;
  grid-area: item6;
}
.apartado3 {
  text-align: center;
  display: grid;
  grid-template-areas:  "item1 item2 item3"
                        "item4 item5 item6";
  grid-template-columns: 15% auto 15%;
  grid-template-rows: auto;
  height: 600px;
  width: 100%;
  padding: 5% 0 0 0;;
  background: linear-gradient(45deg, #ceb543 10%, #3182d3 90%);
  color: white;
}
.apartado4 {
  text-align: center;
  display: grid;
  grid-template-areas:  "item1 item2 item3"
                        "item4 item5 item6";
  grid-template-columns: 15% auto 15%;
  grid-template-rows: auto;
  height: 800px;
  width: 100%;
  padding: 5% 0 0 0;;
  background: linear-gradient(45deg, #ceb543 10%, #3182d3 90%);
  color: white;
}

footer {
  width: 100%;
  height: 300px;
  background: gray;

  z-index: -1;
}

p {
  margin: 0;
  padding: 1em 0;
}