@font-face {
  font-family: 'Airment';
  src: url(/etc/fonts/airment/airment-Regular.ttf);
}

html {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  position: relative;
  z-index: 0;
  margin: 0 0 0 0;
  background-color: #20262e;
}

header {
  margin: auto auto auto auto;
  width: 100%;
  height: 100%;
  position: fixed;
}

p {
  margin: 0;
  padding: 1em 0;
}

.parallax-window {
  min-height: 800px;
  width: 100%;
  height: 100%;
  z-index: -102;
}

.fuckclass {
  width: 100%;
  height: 100%;
}

.imgheader {
  z-index: -1;
}


img {
  margin: 0 0 0 0;
  width: 30%;
}

@media (max-width: 1024px) {
  img {
    margin: 0 auto 0 auto;
    width: 70%;
  }
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: black;
  color: #f1f1f1;
  z-index: 102;
  text-align: center
}

/* Pantalla apple */
@media (min-height: 977px) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px 0px 10px 0px;
    background: black;
    color: #f1f1f1;
    z-index: 102;
    text-align: center
  }
}


section {
  height: 100%;
  margin: 0 0 100px 0;
}

footer {
  width: 100%;
  height: 300px;
  background: gray;

  z-index: -1;
}

.contenido {
  background: #ededed;
  position: relative;
  z-index: 1;
}




h1 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Airment';
  font-size: 11vw;
  color: #fff;
}

@media (max-width: 1024px) {
  h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-align: center;
    font-family: 'Airment';
    font-size: 15vw;
    color: #fff;
  }
}



footer h1 {
  line-height: 300px;
}